<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>UserServlet.java.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>User</servlet-name>
  	<display-name>User</display-name>
  	<description></description>
  	<servlet-class>UserServlet.java.User</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>authenticateUser</servlet-name>
  	<display-name>authenticateUser</display-name>
  	<description></description>
  	<servlet-class>authenticateUser.java.authenticateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>RegistrationServlet.java.Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<display-name>Profile</display-name>
  	<description></description>
  	<servlet-class>ProfileServlet.java.Profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>LogoutServlet.java.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>listing</servlet-name>
  	<display-name>listing</display-name>
  	<description></description>
  	<servlet-class>StockListing.java.listing</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Stockdetails</servlet-name>
  	<display-name>Stockdetails</display-name>
  	<description></description>
  	<servlet-class>StockDetails.java.Stockdetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>stocksbuy</servlet-name>
  	<display-name>stocksbuy</display-name>
  	<description></description>
  	<servlet-class>stocksbuyServlets.java.stocksbuy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sell</servlet-name>
  	<display-name>sell</display-name>
  	<description></description>
  	<servlet-class>stockssellServlet.java.sell</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transactionhistory</servlet-name>
  	<display-name>Transactionhistory</display-name>
  	<description></description>
  	<servlet-class>TransactionhistoryServlet.java.Transactionhistory</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>authenticateUser</servlet-name>
  	<url-pattern>/authenticateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>listing</servlet-name>
  	<url-pattern>/listing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Stockdetails</servlet-name>
  	<url-pattern>/Stockdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>stocksbuy</servlet-name>
  	<url-pattern>/stocksbuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sell</servlet-name>
  	<url-pattern>/sell</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transactionhistory</servlet-name>
  	<url-pattern>/Transactionhistory</url-pattern>
  </servlet-mapping>
</web-app>
